:root {
	--columns-row: 2;
}

body {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.heading {
	font-family: 'Dancing Script', cursive;
	font-size: 3rem;
	animation: color-change 60s infinite;
}

#select {
	font-family: 'Dancing Script', cursive;
}

@keyframes color-change {
	0% {
		color: rgb(177, 36, 102);
	}
	25% {
		color: rgb(104, 37, 180);
	}
	50% {
		color: rgb(19, 113, 156);
	}
	75% {
		color: rgb(104, 37, 180);
	}
	100% {
		color: rgb(177, 36, 102);
	}
}

.btn {
	margin: 1rem;
	padding: 1rem 2rem;
	font-size: 1.2rem;
	background-color: aliceblue;
	box-shadow: 0.5px 0.5px lightgray;
	border-radius: 10px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(var(--columns-row), 1fr);
	grid-template-rows: repeat(var(--columns-row), 1fr);
	border: 1px solid gray;
	margin-top: 1rem;
	height: 70vh;
	width: 50vw;
}

.grid-square {
	background-color: rgb(230, 203, 176);
	margin: 0;
	border: 0.5px solid gray;
}
